<p>
  filter works!
</p>
<div class="row well">
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label for="select111" class="control-label">
        <i class="fa fa-calendar"></i> Choose time of promotion</label>
      <select id="select111" class="form-control">
        <option>Current and future promotions</option>
        <option>Store promotion for yestoday 10 february</option>
        <option>Store promotion for today 11 february</option>
        <option>Store promotion for tomorrow 12 february</option>
      </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label for="select111" class="control-label">
        <i class="fa fa-sort"></i> New or previous</label>
      <select id="select111" class="form-control">
        <option>New only</option>
        <option>Heigh rate</option>
        <option>Low rate</option>
      </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label for="select111" class="control-label" style="color:transparent;">
        <i class="fa fa-search"></i> Shearch</label>
      <input class="btn btn-primary btn-block btn-raised" type="submit" value="Shearch">
    </div>
  </div>
</div>
