<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="list-group">
                    <a href="addNewBrand.html" class="list-group-item list-group-item-action active">
                        Add brand
                    </a>
                    <a href="addPromotionForBrand.html" class="list-group-item list-group-item-action">Add promotion</a>
                    <a href="brandList.html" class="list-group-item list-group-item-action">Your brands</a>
                    <a href="promotionList.html" class="list-group-item list-group-item-action">Promotion</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 well">
                <form action="">
                    <fieldset>
                        <legend>Add brand</legend>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label" for="dateExpired">Brand's name</label>
                            <input type="email" class="form-control" id="dateExpired">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="form-group">
                    <h4>Brand's logo</h4>
                </div>
                <div class="form-group jumbotron">
                    <div class="dropzoneCustom__form" id="upload-widget" method="post" enctype="multipart/form-data">
                        <div class="form-group text-center">
                            <span>Press to add photo</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <span>
                                <span class="check"></span>
                            </span>
                            <span>I agree with 
                                <a href="#">policy</a>
                            </span>
                        </label>
                    </div>
                </div>
                <input class="btn btn-block btn-primary btn-raised" type="submit" value="Save">
            </div>

        </div>
    </section>
</main>