<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="list-group">
                    <a href="addNewBrand.html" class="list-group-item list-group-item-action active">
                        Добавить Бренд
                    </a>
                    <a href="addPromotionForBrand.html" class="list-group-item list-group-item-action">Добавить Акцию</a>
                    <a href="brandList.html" class="list-group-item list-group-item-action">Ваши бренды</a>
                    <a href="promotionList.html" class="list-group-item list-group-item-action">Акции</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 well">
                <form action="">
                    <fieldset>
                        <legend>Добавить бренд</legend>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label" for="dateExpired">Укажите название бренда</label>
                            <input type="email" class="form-control" id="dateExpired">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="form-group">
                    <h4>Логотип бренда</h4>
                </div>
                <div class="form-group jumbotron">
                    <div class="dropzoneCustom__form" id="upload-widget" method="post" enctype="multipart/form-data">
                        <div class="form-group text-center">
                            <span>Нажмите или перетащите файл</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <span>
                                <span class="check"></span>
                            </span>
                            <span>Я прочитал(a)
                                <a href="#">правила</a>
                            </span>
                        </label>
                    </div>
                </div>
                <input class="btn btn-block btn-primary btn-raised" type="submit" value="Добавить">
            </div>

        </div>
    </section>
</main>