<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 well-sm-visible well-xs-visible">
                <div class="list-group">
                    <a href="addNewBrand.html" class="list-group-item list-group-item-action ">Add brand</a>
                    <a href="addPromotionForBrand.html" class="list-group-item list-group-item-action active">Add promotion</a>
                    <a href="brandList.html" class="list-group-item list-group-item-action">Your brands</a>
                    <a href="promotionList.html" class="list-group-item list-group-item-action">Promotions</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 well">
                <!--<h3>Добавление нового магазина</h3>-->

                <fieldset>
                    <legend>Add promotion</legend>

                    <div class="form-group label-floating is-empty">
                        <label class="control-label" for="oneMetreSquarePrice">Price per square meter (m
                            <sup>2</sup>)</label>
                        <input type="number" class="form-control" id="oneMetreSquarePrice">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="brandId">Brand</label>
                        <select class="form-control" name="brandId">
                            <option value="0"></option>
                            <option value="1">Coca-Cola</option>
                            <option value="2">Adidas</option>
                        </select>
                        <span class="field-validation-valid text-danger">
                            <!--Error message-->
                        </span>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label class="control-label" for="brandId">Image of promotion</label>
                                <div class="dropzoneCustom__form jumbotron" id="upload-widget" method="post" enctype="multipart/form-data">
                                    <div class="form-group text-center">
                                        <span>Press to add photo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="col-lg-3 col-md-3 well-sm-visible well-xs-visible">
                <div class="form-group">
                    <label class="control-label">
                        <h4>Time of activity</h4>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label" for="promotionMinDateCount">
                        <b>Minimum days</b>
                    </label>
                    <input id="promotionDateStart" type="number" class="form-control">

                </div>
                <div class="form-group">
                    <label class="control-label" for="promotionMaxDateCount">
                        <b>Maximum days</b>
                    </label>
                    <input id="promotionDateEnd" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <span>
                                <span class="check"></span>
                            </span>
                            I agree with
                            <a href="#">policy</a>
                        </label>

                    </div>
                </div>
                <input class="btn btn-block btn-primary btn-raised" type="submit" value="Save">
            </div>

        </div>
    </section>
</main>