<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="list-group">
                    <a href="addNewBrand.html" class="list-group-item list-group-item-action ">Add brand</a>
                    <a href="addPromotionForBrand.html" class="list-group-item list-group-item-action ">Add promotion</a>
                    <a href="brandList.html" class="list-group-item list-group-item-action active">Your brands</a>
                    <a href="promotionList.html" class="list-group-item list-group-item-action">Promotion</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col mb-3">
                        <span class="inline-block ">
                            <a class="btn btn-primary" href="#">Add brand</a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>Logo</th>
                                    <th>Name</th>
                                    <th>Count promotion</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td class="align-middle">
                                        <img class="rounded-circle" src="https://picsum.photos/50/?random" alt="">
                                    </td>
                                    <td class="align-middle">Lorem, ipsum.</td>
                                    <td class="align-middle">0</td>
                                    <td class="align-middle">Category</td>
                                    <td class="align-middle">Active</td>
                                    <td class="align-middle">Action</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <img class="rounded-circle" src="https://picsum.photos/50/?random" alt="">
                                    </td>
                                    <td class="align-middle">Lorem, ipsum.</td>
                                    <td class="align-middle">0</td>
                                    <td class="align-middle">Category</td>
                                    <td class="align-middle">Active</td>
                                    <td class="align-middle">Action</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>