<div class="container mb-3">
    <div class="row well">
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label for="select111" class="control-label">
                    <i class="fa fa-calendar"></i> Choose time of promotion</label>
                <select id="select111" class="form-control">
                    <option>Current and future promotions</option>
                    <option>Store promotion for yestoday 10 february</option>
                    <option>Store promotion for today 11 february</option>
                    <option>Store promotion for tomorrow 12 february</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label for="select111" class="control-label">
                    <i class="fa fa-sort"></i> New or previous</label>
                <select id="select111" class="form-control">
                    <option>New only</option>
                    <option>Heigh rate</option>
                    <option>Low rate</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label for="select111" class="control-label" style="color:transparent;">
                    <i class="fa fa-search"></i> Shearch</label>
                <input class="btn btn-primary btn-block btn-raised" type="submit" value="Shearch">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <div class="media">
                        <img class="mr-3 rounded-circle" src="https://picsum.photos/50/?random" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">ADIDAS</h5>
                            <span class="text-muted">(30 days - 90 days)</span>
                        </div>
                    </div>
                </div>
                <a href="PromotionItem.html">
                    <img class="card-img-top" src="https://picsum.photos/140/180/?random" alt="Card image cap">
                </a>
                <div class="card-body">

                    <div class="clearfix">
                        <p class="float-left">
                            <a href="#" class="card-link badge">
                                <i class="fa fa-comment"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-down"></i>
                                <span class="pl-1">0</span>
                            </a>
                        </p>

                        <p class="float-right text-muted">
                            <i class="fa fa-car pr-1"></i>
                            <i class="fa fa-truck pr-1"></i>
                            <i class="fa fa-bus pr-1"></i>
                        </p>
                    </div>

                    <h5 class="card-title">Your revenue 200$. per month</h5>
                    <p class="card-text">
                        Price for 2m per day: 2$. Active: 30 days - 90 days
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <div class="media">
                        <img class="mr-3 rounded-circle" src="https://picsum.photos/50/?random" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">ADIDAS</h5>
                            <span class="text-muted">(30 days - 90 days)</span>
                        </div>
                    </div>
                </div>
                <a href="PromotionItem.html">
                    <img class="card-img-top" src="https://picsum.photos/200/300/?random" alt="Card image cap">
                </a>
                <div class="card-body">

                    <div class="clearfix">
                        <p class="float-left">
                            <a href="#" class="card-link badge">
                                <i class="fa fa-comment"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-down"></i>
                                <span class="pl-1">0</span>
                            </a>
                        </p>

                        <p class="float-right text-muted">
                            <i class="fa fa-car pr-1"></i>
                            <i class="fa fa-truck pr-1"></i>
                            <i class="fa fa-bus pr-1"></i>
                        </p>
                    </div>

                    <h5 class="card-title">Your revenue 200$. per month</h5>
                    <p class="card-text">
                        Price for 2m per day: 2$. Active: 30 days - 90 days
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <div class="media">
                        <img class="mr-3 rounded-circle" src="https://picsum.photos/50/?random" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">ADIDAS</h5>
                            <span class="text-muted">(30 days - 90 days)</span>
                        </div>
                    </div>
                </div>
                <a href="PromotionItem.html">
                    <img class="card-img-top" src="https://picsum.photos/250/140/?random" alt="Card image cap">
                </a>
                <div class="card-body">

                    <div class="clearfix">
                        <p class="float-left">
                            <a href="#" class="card-link badge">
                                <i class="fa fa-comment"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="pl-1">0</span>
                            </a>
                            <a href="#" class="card-link badge">
                                <i class="fa fa-thumbs-down"></i>
                                <span class="pl-1">0</span>
                            </a>
                        </p>

                        <p class="float-right text-muted">
                            <i class="fa fa-car pr-1"></i>
                            <i class="fa fa-truck pr-1"></i>
                            <i class="fa fa-bus pr-1"></i>
                        </p>
                    </div>

                    <h5 class="card-title">Your revenue 200$. per month</h5>
                    <p class="card-text">
                        Price for 2m per day: 2$. Active: 30 days - 90 days
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
