    <main>
        <section class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-md-offset-4 well">

                    <form axtion="">
                        <fieldset>
                            <legend>
                                <h3>Authorization</h3>
                            </legend>

                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="dateExpired">Your email</label>
                                <input type="email" class="form-control" id="dateExpired">
                            </div>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="dateExpired">Your password</label>
                                <input type="password" class="form-control" id="dateExpired">
                            </div>
                            <button type="submit" class="btn btn-block btn-primary btn-raised"><b>Sign in</b></button>

                        </fieldset>
                    </form>

                </div>
            </div>
        </section>
    </main>

    