<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="media">
                            <img class="mr-3 rounded-circle" src="https://picsum.photos/50/?random" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">ADIDAS</h5>
                                <span class="text-muted">(30 days - 90 days)</span>
                            </div>
                        </div>
                    </div>
                    <a href="PromotionItem.html">
                        <img class="card-img-top" src="https://picsum.photos/140/180/?random" alt="Card image cap">
                    </a>
                    <div class="card-body">

                        <div class="clearfix">
                            <p class="float-left">
                                <a href="#" class="card-link badge">
                                    <i class="fa fa-comment"></i>
                                    <span class="pl-1">0</span>
                                </a>
                                <a href="#" class="card-link badge">
                                    <i class="fa fa-thumbs-up"></i>
                                    <span class="pl-1">0</span>
                                </a>
                                <a href="#" class="card-link badge">
                                    <i class="fa fa-thumbs-down"></i>
                                    <span class="pl-1">0</span>
                                </a>
                            </p>

                            <p class="float-right text-muted">
                                <i class="fa fa-car pr-1"></i>
                                <i class="fa fa-truck pr-1"></i>
                                <i class="fa fa-bus pr-1"></i>
                            </p>
                        </div>

                        <h5 class="card-title">Your revenue 200$. per month</h5>
                        <p class="card-text">
                            Price for 2m per day: 2$. Active: 30 days - 90 days
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="h4">Description name of some thing</h1>
                    </div>
                    <div class="card-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum. odio temporibus, dolore accusantium reiciendis
                        delectus et expedita, libero dignissimos minus molestiae veniam unde modi consequatur nostrum nemo
                        repellat reprehenderit ipsum? Itaque, dolores sit! Neque? Iste, nostrum exercitationem
                    </div>
                    <div class="card-footer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odio deserunt ipsam illo, laboriosam rerum reiciendis iure.
                        Perspiciatis sint vero rerum sapiente in nobis tempora perferendis, laboriosam illo tempore nulla.
                        Saepe quas vero, soluta autem

                    </div>
                </div>


                <div class="card mt-3 shadow">

                    <div class="card-header">
                        <h1 class="h5">Comments</h1>
                    </div>
                    <div class="input-group">

                        <textarea class="form-control" aria-label="With textarea"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-outline-secondary" type="button">Comment</button>

                        </div>
                    </div>
                    <div class="card-body">

                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eea1396b%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eea1396b%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@username</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                                ut fermentum massa justo sit amet risus.
                            </p>
                        </div>
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eea1396b%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eea1396b%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@username</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                                ut fermentum massa justo sit amet risus.
                            </p>
                        </div>
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163eea1396b%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163eea1396b%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@username</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                                ut fermentum massa justo sit amet risus.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
</main>