<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>DISCOUNTAPP</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">-->


    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/jquery-chosen/chosen.min.css">
    <link rel="stylesheet" href="node_modules/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="dist/css/style.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" async="" rel="stylesheet">-->
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                    <a class="navbar-brand" href="index.html">DISCOUNTAPP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">О проекте</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">example_user@gmail.com <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="addNewBrand.html">Добавить Бренд</a></li>
                                <li><a href="addPromotionForBrand.html">Добавить Акцию</a></li>
                                <li><a href="brandList.html">Ваши бренды</a></li>
                                <li><a href="promotionList.html">Акции</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="login.html">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    <main>
        <section class="container">
            <div class="promotion-item post-box col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="list-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-2">
                                    <a href="#"><img class="circle img-responsive" src="https://picsum.photos/50/50/?random" alt="icon"></a>
                                </div>
                                <div class="ccol-lg-9 col-md-8 col-sm-9 col-xs-10">
                                    <h4 class="list-group-item-heading">Coca-Cola</h4>
                                    <p class="list-group-item-text">(30 дней - 90 дней)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <a href="#"><img src="images/ring50.svg" alt="" data-original="https://picsum.photos/700/600/?random" class="img-lazy img-responsive img-thumbnail"></a>
                    </div>
                    <div class="panel-footer" style="overflow: hidden;">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <div class="btn promotion-item__vehicleAvailable"><i class="fa fa-car" aria-hidden="true"></i></div>
                                <div class="btn promotion-item__vehicleAvailable"><i class="fa fa-truck"></i></div>
                                <div class="btn promotion-item__vehicleAvailable"><i class="fa fa-bus"></i></div>
                            </div>
                        </div>
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-comment"></i>&nbsp;<span class="badge">0</span></a>
                                <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-thumbs-o-down"></i>&nbsp;<span class="badge">0</span></a>
                                <a href="javascript:void(0)" class="btn promotion-item__btn"><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge">3</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info _h5">
                        <ul class="list-unstyled">
                            <li>Цена за м<sup>2</sup> в день: 350 руб.</li>
                            <li>Срок размещения: 30 дней - 90 дней</li>
                        </ul>
                    </div>
                    <div class="alert alert-danger h4"><i class="fa fa-clock-o"></i> Затраты <b>10 500</b> руб. в месяц</div>
                    <!-- <br><button class="btn btn-block btn-default">Выбрать</button> -->
                </div>
            </div>

            <div class="promotion-item post-box col-lg-8 col-md-8 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="h4">Description name of some thing</h1>
                    </div>
                    <div class="panel-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. odio temporibus, dolore accusantium reiciendis delectus et expedita, libero dignissimos minus molestiae veniam unde modi consequatur nostrum
                        nemo repellat reprehenderit ipsum? Itaque, dolores sit! Neque? Iste, nostrum exercitationem
                    </div>
                    <div class="panel-footer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odio deserunt ipsam illo, laboriosam rerum reiciendis iure. Perspiciatis sint vero rerum sapiente in nobis tempora perferendis, laboriosam illo tempore nulla. Saepe quas vero, soluta autem

                    </div>

                </div>
            </div>
        </section>
    </main>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="node_modules/jquery-lazyload/jquery.lazyload.js"></script>
    <script>
        $(document).ready(() => {
            $.material.init();

            $('img.img-lazy').lazyload({
                effect: 'fadeIn',
                effectTime: 2000,
                threshold: 0
            });
        });
    </script>
</body>

</html>