<div class="card shadow">
  <div class="card-header">
    <div class="media">
      <img class="mr-3 rounded-circle" src="https://picsum.photos/50/?random" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">ADIDAS</h5>
        <span class="text-muted">(30 days - 90 days)</span>
      </div>
    </div>
  </div>
  <a href="PromotionItem.html">
    <img class="card-img-top" src="https://picsum.photos/140/180/?random" alt="Card image cap">
  </a>
  <div class="card-body">

    <div class="clearfix">
      <p class="float-left">
        <a href="#" class="card-link badge">
          <i class="fa fa-comment"></i>
          <span class="pl-1">0</span>
        </a>
        <a href="#" class="card-link badge">
          <i class="fa fa-thumbs-up"></i>
          <span class="pl-1">0</span>
        </a>
        <a href="#" class="card-link badge">
          <i class="fa fa-thumbs-down"></i>
          <span class="pl-1">0</span>
        </a>
      </p>

      <p class="float-right text-muted">
        <i class="fa fa-car pr-1"></i>
        <i class="fa fa-truck pr-1"></i>
        <i class="fa fa-bus pr-1"></i>
      </p>
    </div>

    <h5 class="card-title">Your revenue 200$. per month</h5>
    <p class="card-text">
      Price for 2m per day: 2$. Active: 30 days - 90 days
    </p>

  </div>
</div>
