<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
      <a class="navbar-brand" routerLink="">DISCOUNTAPP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link"  routerLink="about">About
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
          </ul>
          <ul class="navbar-nav float-left">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">example_user@gmail.com</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown07">
                      <a href="addNewBrand.html" class="dropdown-item">
                          Добавить Бренд
                      </a>
                      <a href="addPromotionForBrand.html" class="dropdown-item">Добавить Акцию</a>
                      <a href="brandList.html" class="dropdown-item">Ваши бренды</a>
                      <a href="promotionList.html" class="dropdown-item">Акции</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="Login.html">Login</a>
                      <a class="dropdown-item" href="Registration.html">Registration</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>


