<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-12 h4">

                Вы думаете Ваш автомобиль это актив? Нет! Ваш автомобиль - это пассив до тех пора пока он не приносит дохода. Мы тратим на
                содержание автомобиля свои честно заработанные деньги. Покупка бензина, страховка, налоги и многое другое.
                <strong>Сделайте свой автомобиль доходным!!!</strong> Разместите рекламу на своем автомобиле и получайте доход от
                рекламодателей.

            </div>
            <div class="col-lg-12">
                <img class="img-thumbnail" src="../images/PromotionImages/8.jpg" alt="" style="max-width: 250px;">
                <img class="img-thumbnail" src="../images/PromotionImages/9.jpg" alt="" style="max-width: 300px;">
                <img class="img-thumbnail" src="../images/PromotionImages/10.jpg" alt="" style="max-width: 250px;">
                <img class="img-thumbnail" src="../images/PromotionImages/11.jpg" alt="" style="max-width: 500px;">
                <img class="img-thumbnail" src="../images/PromotionImages/12.jpg" alt="" style="max-width: 320px;">
                <img class="img-thumbnail" src="../images/PromotionImages/13.jpg" alt="" style="max-width: 320px;">
                <img class="img-thumbnail" src="../images/PromotionImages/14.jpg" alt="" style="max-width: 450px;">
                <img class="img-thumbnail" src="../images/PromotionImages/15.jpg" alt="" style="max-width: 320px;">
                <img class="img-thumbnail" src="../images/PromotionImages/16.jpg" alt="" style="max-width: 320px;">
                <img class="img-thumbnail" src="../images/PromotionImages/5.jpg" alt="" style="max-width: 320px;">
            </div>
        </div>
    </section>
</main>