    <main>
        <section class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 well-sm-visible well-xs-visible">
                    <ul class="sidebar nav nav-pills nav-stacked">
                        <li><a href="addNewBrand.html">Добавить Бренд</a></li>
                        <li><a href="addPromotionForBrand.html">Добавить Акцию</a></li>
                        <li class="active"><a href="brandList.html">Ваши бренды</a></li>
                        <li><a href="promotionList.html">Акции</a></li>
                    </ul>
                </div>


                <form action="">
                    <div class="col-lg-9 col-md-9 well">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>
                                    <span class="inline-block">
                                        <a class="btn btn-default" href="#">Добавить бренд</a>
                                    </span>
                                </h2>
                            </div>
                        </div>

                        <br class="hidden-sm hidden-xs" />

                        <!-- <ul class="filter-inline list-unstyled list-inline">
                            <li><a class="filter-inline__item active" href="">Активные&nbsp;<i class="badge badge-default">1</i></a></li>
                            <li><a class="filter-inline__item" href="">Неподтвержденные&nbsp;<i class="badge badge-default">2</i></a></li>
                            <li><a class="filter-inline__item" href="">Неактивные&nbsp;<i class="badge badge-default">3</i></a></li>
                            <li><a class="filter-inline__item" href="">Отклоненные&nbsp;<i class="badge badge-default">4</i></a></li>
                            <li><a class="filter-inline__item" href="">Все&nbsp;<i class="badge badge-default">5</i></a></li>
                            <li><a class="filter-inline__item" href="">Без акций&nbsp;<i class="badge badge-default">6</i></a></li>
                        </ul> -->

                        <div style="overflow-x: scroll; ">
                            <table class="discount-table table table-responsive table-striped">
                                <!--<caption>Список</caption>-->
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Логотип</th>
                                        <th>Название</th>
                                        <th>Кол-во акций</th>
                                        <th>Категория</th>
                                        <th>Статус</th>
                                        <th>Действие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div>
                                                <img class="circle img-responsive" src="http://lorempixel.com/50/50/business/1" alt="" style="border-radius: 100%;">
                                            </div>
                                        </td>
                                        <td><a href="#">Lorem ipsum dolor sit.</a></td>
                                        <td>6</td>
                                        <td>Lorem ipsum</td>
                                        <td>Активный</td>
                                        <td>Какое-то действие</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div>
                                                <img class="circle img-responsive" src="http://lorempixel.com/50/50/business/2" alt="" style="border-radius: 100%;">
                                            </div>
                                        </td>
                                        <td><a href="#">Lorem ipsum dolor sit.</a></td>
                                        <td>6</td>
                                        <td>Lorem ipsum</td>
                                        <td>Активный</td>
                                        <td>Какое-то действие</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav> -->

                    </div>

                </form>
            </div>
        </section>
    </main>

    