<main>
    <section class="container">
        <div class="promotion-item post-box col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="list-group">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-2">
                                <a href="#">
                                    <img class="circle img-responsive" src="https://picsum.photos/50/50/?random" alt="icon">
                                </a>
                            </div>
                            <div class="ccol-lg-9 col-md-8 col-sm-9 col-xs-10">
                                <h4 class="list-group-item-heading">Coca-Cola</h4>
                                <p class="list-group-item-text">(30 дней - 90 дней)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <img src="images/ring50.svg" alt="" data-original="https://picsum.photos/700/600/?random" class="img-lazy img-responsive img-thumbnail">
                    </a>
                </div>
                <div class="panel-footer" style="overflow: hidden;">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <div class="btn promotion-item__vehicleAvailable">
                                <i class="fa fa-car" aria-hidden="true"></i>
                            </div>
                            <div class="btn promotion-item__vehicleAvailable">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="btn promotion-item__vehicleAvailable">
                                <i class="fa fa-bus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn promotion-item__btn">
                                <i class="fa fa-comment"></i>&nbsp;
                                <span class="badge">0</span>
                            </a>
                            <a href="javascript:void(0)" class="btn promotion-item__btn">
                                <i class="fa fa-thumbs-o-down"></i>&nbsp;
                                <span class="badge">0</span>
                            </a>
                            <a href="javascript:void(0)" class="btn promotion-item__btn">
                                <i class="fa fa-thumbs-o-up"></i>&nbsp;
                                <span class="badge">3</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info _h5">
                    <ul class="list-unstyled">
                        <li>Цена за м
                            <sup>2</sup> в день: 350 руб.</li>
                        <li>Срок размещения: 30 дней - 90 дней</li>
                    </ul>
                </div>
                <div class="alert alert-success h4">
                    <i class="fa fa-clock-o"></i> Ваш доход
                    <b>10 500</b> руб. в месяц</div>
                <!-- <br><button class="btn btn-block btn-default">Выбрать</button> -->
            </div>
        </div>

        <div class="promotion-item post-box col-lg-8 col-md-8 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="h4">Description name of some thing</h1>
                </div>
                <div class="panel-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum. odio temporibus, dolore accusantium reiciendis delectus et expedita,
                    libero dignissimos minus molestiae veniam unde modi consequatur nostrum nemo repellat reprehenderit ipsum?
                    Itaque, dolores sit! Neque? Iste, nostrum exercitationem
                </div>
                <div class="panel-footer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odio deserunt ipsam illo, laboriosam rerum reiciendis iure.
                    Perspiciatis sint vero rerum sapiente in nobis tempora perferendis, laboriosam illo tempore nulla. Saepe
                    quas vero, soluta autem

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="h5">Comments</h1>
                </div>
                <div class="panel-body">
                    <form action="">
                        <textarea class="form-control" rows="2"></textarea>
                        <button type="button" class="btn btn-default">Post comment</button>
                    </form>
                    <div class="media">
                        <div class="media-left">
                            <a href="#" class="img-thumbnail">
                                <img class="media-object" src="https://picsum.photos/40/40/?random" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Lorem, ipsum dolor.
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#" class="img-thumbnail">
                                <img alt="64x64" class="media-object" src="https://picsum.photos/40/40/?random">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
</main>